.header {
	margin: 0px 20px 20px 20px;
	display: inline-block;
}

.header .title {
	font-weight: 700;
}
.header .subtitle {
	font-weight: 400;
	margin-left: 1rem;
	opacity: 0.8;
	padding: 0 1em;
	color: #6a737d;
	border-left: 0.25em solid #dfe2e5;
	font-size: 1.1rem;
}

.main {
	display: flex;
	height: 100%;
}
.sidebar {
	width: 20%;
	height: 100%;
}
.main ul {
	line-height: 2rem;
	font-size: 1.2rem;
}
.footer {
	text-align: center;
	border-top: 0.25em solid #dfe2e5;
	margin-top: 40px;
	padding-top: 20px;
}

.posts-list {
	padding: 0 20px;
	max-width: 80%;
	border-left: 0.25em solid #dfe2e5;
	width: 80%;
}
html,
body {
	max-width: 900px;
	margin: 0 auto;
}
